XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 10000
XTerm.vt100.geometry: 120x25
XTerm.vt100.allowBoldFonts: false
!XTerm.vt100.reverseVideo: true
#include "/home/sonic/data/xcolors/Xresources/Chalkboard"
